.dropArea {
  display: flex;
  flex-direction: column;
  height: 79px;
  transition: all 0.2s ease-in-out;
}
.dropArea > div {
  width: 100%;
  height: 50%;
  border: 2px solid rgba(32, 95, 255, 0.621);
}
.dropArea > div:nth-child(1) {
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0;
  border-bottom: 0;
}
.dropArea > div:nth-child(2) {
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0;
}
.hiddrop {
  transition: all 0.2s ease-in-out;
  opacity: 100;
  height: 10px;
}
